<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <title>Новый преподаватель</title>
</head>
<body>
    <h2>Добавление нового преподавателя</h2>
    <form action="" method="post">
        <p>ФИО: <input type="text" name="teacher_name"></p>
        <p>Телефон: <input type="text" name="teacher_number"></p>
        <p>Адрес: <input type="text" name="teacher_adress"></p>
        <p><input type="submit" value="Добавить преподавателя"> <a href="{{ url_for('teacher') }}">Отменить</a></p>
    </form>
</body>
</html>
