<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <title>Статистика</title>
</head>
<body>
     <!-- Панель навигации -->
     <ul class="nav">
        <li><a href="{{ url_for('index') }}">Ученики</a></li>
        <li><a href="{{ url_for('teacher') }}">Преподаватели</a></li>
        <li><a href="{{ url_for('schedule') }}">Расписание</a></li>
        <li><a href="{{ url_for('statistics') }}">Статистика</a></li>
    </ul>
    <h2>Страница статистики</h2>
    <p>Здесь будет отображаться статистика.</p>
</body>
</html>
